params {
    ncbi_section = 'refseq'
    contig_dir = false
    chromosome_dir = false
    taxid = false
    scheme = false
    minstsize = 5
    maxstsize = 20
    mapper = 'bwa'
    variant = 'gatk'
    force = false
    coverage = 100
    readlength = 250

    // Boilerplate defaults
    outdir = false
    help = false
    tracedir = "${params.outdir}/pipeline_info"
    mapper_av = [ "minimap2", "bwa", "bowtie2" ]
    variant_av = ["gatk", "mpileup"]
    ncbi_section_av = [ "refseq", "genbank" ]
    force_av = [ true, false ]
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}